nav {
  margin-top: 10.5px;
  margin-right: 10px;
  overflow: hidden;
}

nav a {
  float: right;
  margin-left: 5.5px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 15.5px;
}

nav a:hover {
  background-color: #0f0f0f;
  color: #ffffff;
  transition: 1.5s;
  border-radius: 10px;
}

nav a.active {
  background-color: #ad9df2;
  color: white;
  border-radius: 10px;
  
}

nav a.active:hover {
  background-color: #2f00ff;
  color: white;
  transition: 1.5s;
}

nav .icon {
  display: none;
}
   

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
