body {
  background-color: black;
  text-align: center;
  text-color: white;
}

h1 {
  font-size: 45.5px;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  font-size: 25px;
  text-align: center;
}
